main {
  height: 80vh;
}

footer {
  padding: 40px;
  background-color: #f2f5f9;
}

.qr-container {
  width: 250px;
  height: 322px;
  padding: 20px;
  border: 1px solid;
  border-color: #707F8D;
  border-radius: 30px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.qr-code {
  height: 190px;
  width: 190;  
}

.qr-container-text {
  text-align: center;
  font-family: "GTEestiProDisplay";
}

.store_labels {
  display: flex;
  gap: 16px;  
}

.store {
  height: 42px;  
}

@font-face {
  font-family: 'GTEestiProDisplay';
  src: url('./fonts/GT-Eesti-Pro-Display-Regular.ttf'); 
}
