main {
  height: 80vh;
}

footer {
  padding: 40px;
  background-color: #f2f5f9;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "GTEestiProDisplay";
  color: #677C96;
}

.qr-container {
  width: 250px;
  height: 322px;
  padding: 20px;
  border: 1px solid;
  border-color: #707F8D;
  border-radius: 30px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 20px;
}

.qr-code {
  height: 190px;
  width: 190;  
}

.qr-container-text {
  text-align: center;  
}

.store_labels {
  display: flex;
  gap: 16px;  
}

.store {
  height: 42px;  
}

.footer-menue-container {
  display: flex;
  flex-direction: column;
}

.footer-menue {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer-link {
  text-decoration: none;
  font-family: "GTEestiProDisplay";
  color: #677C96;
  font-size: 14px;
  margin-top: 10px;
}

.footer-link:hover {
  color: #005BFF;
}

.footer-menue-column {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 80px;
  margin-bottom: 20px;
}

.footer-menue-head {
  color: #001A34;
  font-size: 16px;
}

@font-face {
  font-family: 'GTEestiProDisplay';
  src: url('./fonts/GT-Eesti-Pro-Display-Regular.ttf'); 
}

.socmed-rights-visual_ver {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  height: 100px;
  flex-wrap: wrap;
}

.socmedia-links {
  display: flex;
  align-items: flex-end;
}

.socmedia-logo {
  height: 24px;
  width: 24px;
  padding: 10px;
  margin-right: 16px;
  border-radius: 15px;
  background-color: white;
}

.vk-logo:hover {
  background-color: #0077ff;  
}

.odnoklassniki-logo:hover {
  background-color: #eb7d01;  
}

.telegram-logo:hover {
  background-color: #25a2e0;  
}

.rights-visual_ver {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 270px;
}

.copyrights {
  font-size: 12px;
  margin-bottom: 20px;
}

.vis_impaired_ver {
  font-size: 16px;
  padding: 0px 20px;
  background-color: #005BFF;
  border: none;
  border-radius: 15px;
  width: 270px;
  height: 48px;
  font-family: "GTEestiProDisplay";
  color: white;
}

.vis_impaired_ver:hover {
  filter:brightness(90%);
}